table{
    text-align: center;
    border: solid 10px;
    /* border: none; */
    border-color: aqua;
    width: 300px;
    background-color: aqua;
    height: 500px;
}
td{
    background-color: white;
}
#red{
    background-color: red;
    color: antiquewhite;
}
#title{
    background-color: aqua;
    color: antiquewhite
}
